/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--border-color);
  font-family: var(--text-font);
  background-image: var(--page-bg-img);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 20px;
  position: relative;
  display: grid;
}

.header__theme-menu-list {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__theme-menu-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  padding-inline: 11.5px;
  padding-block: 3px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--border-color);
}

.header__theme-menu-title {
  font-size: var(--title-size);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  margin-block-start: 36vh;
  margin-inline-start: -2%;
  font-weight: 700;
  line-height: 82.5%;
}

.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
  position: absolute;
  right: 20px;
  top: 20px;
}

.decorated-zone:before {
  content: '';
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.header__theme-menu-text {
  inline-size: 50%;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin-block-start: 15vh;
  margin-block-end: 15vh;
  justify-self: end;
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--decor-bg-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.header__theme-menu-rec {
  position: absolute;
  display: flex;
  top: 20px;
  right: 50px;
  text-transform: uppercase;
  inline-size: var(--hidden-const);
  block-size: var(--hidden-const);
  overflow: var(--hidden-owerflow);
}

.header__theme-menu-rec::after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  right: -21px;
  background-color: var(--border-color);
  background-clip: content-box;
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--border-color);
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
}


/*------------------------end-header-----------------------*/

.main-page {
  display: grid;
  gap: 80px;
}

.question {
  padding: 60px 20px 0;
  display: grid;
  grid-template-columns: fit-content(32%) fit-content(68%);
  gap: 20px;
}

.main-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.question__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--page-text-color);
}

.width-limit {
  inline-size: 32%;
}

.text-link {
  text-shadow: 2px 2px 0 var(--link-shadow);
  text-decoration: none;
}

.text-link:hover {
  border-block-end: 1px solid var(--decor-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--page-text-color);
}

/*----------------------end-question---------------------*/

.answer {
  padding-inline: 20px;
  display: grid;
  gap: 20px;
}

.answer__info {
  display: grid;
  grid-template-columns: repeat(3, fit-content(32%));
  grid-template-rows: repeat(2, min-content);
  row-gap: 10px;
  column-gap: 20px;
  grid-auto-flow: column;
}

/*-------------------------end-answer----------------------*/

.solution {
  padding-inline: 20px;
  display: grid;
  grid-template-columns: fit-content(32%) fit-content(68%);
  gap: 20px;
}

.solution__info {
  display: grid;
  gap: 10px;
}

.solution__info .title-decor:first-child {
  margin-block-end: 10px;
}

.main-text:not(:last-of-type) {
  margin-block-end: 10px;
}

.main-title + .main-title{
  margin-block-end: 20px;
}

/*-------------------end-solution------------------------*/

.images {
  padding: 0 20px 60px;
  display: grid;
  gap: 20px;
}

.images__info {
  display: grid;
  grid-template-columns: repeat(3, fit-content(32%));
  grid-template-rows: repeat(3, fit-content(32%));
  column-gap: 20px;
  row-gap: 20px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.first {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.second {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.third {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.foor {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.five {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*--------------------end-images------------------------*/

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-title {
  font-size: var(--title-size);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
  margin-block: 34vh;
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
    align-items: end;
    margin-block-start: 23.5%;
  }

  .header__theme-menu-title {
    margin-block-start: 17.5vh;
    margin-inline-start: -3%;
  }

  .header__theme-menu-text {
    margin-block-start: 15.5vh;
    margin-block-end: 15.7vh;
  }

  .answer__info {
    grid-template-columns: repeat(1,fit-content(100%));
    grid-auto-flow: row;
  }

  .footer-title {
    margin-block: 40.4vh;
  }
}

@media (width < 768px) {
  .header {
    padding: 10px;
  }

  .header__theme-menu-title {
    margin-block-start: 9.5vh;
    margin-inline-start: -1%;
  }

  .header__theme-menu-list {
    margin-block-start: 18%;
    margin-inline-end: 6px;
  }

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
  
  .decorated-zone:before {
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu-text {
    inline-size: 100%;
    margin-block-start: 8vh;
    margin-block-end: 8.5vh;
  }

  .header__theme-menu-rec {
    top: 11px;
    right: 40px;
  }
  
  .main-page {
    gap: 50px;
  }

  .question {
    padding: 40px 10px 0;
    grid-template-rows: fit-content(32%) fit-content(68%);
    grid-template-columns: fit-content(100%);
  }

  .answer {
    padding-inline: 10px;
  }

  .width-limit {
    inline-size: auto;
  }

  .solution {
    padding-inline: 10px;
    grid-template-columns: fit-content(100%);
    grid-template-rows: fit-content(32%) fit-content(68%);
  }

  .images {
    padding: 0 10px 40px;
    gap: 10px;
  }

  .images__info {
    grid-template-columns: fit-content(100%);
    grid-template-rows: repeat(auto-fit, fit-content(100%));
    gap: 10px;
  }

  .first {
    grid-column: auto;
    grid-row: auto;
  }
  
  .second {
    grid-column: auto;
    grid-row: auto;
  }
  
  .third {
    grid-column: auto;
    grid-row: auto;
  }
  
  .foor {
    grid-column: auto;
    grid-row: auto;
  }
  
  .five {
    grid-column: auto;
    grid-row: auto;
  }

  .footer {
    padding: 10px;
  }

  .footer-title {
    margin-block: 36.5vh;
  }
}
